@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

body {
    background: #fff;
    font-family: "Josefin Sans", arial, sans-serif !important;
    font-weight: 300;
    font-size: 18px !important;
    line-height: 1.9;
    color: #6c757d;
}

.mobile-menu{
 color: #007bff !important;
}

.profile-picture {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 15px;
  border-radius: 3%;
}

.header-name{
  margin-top: 20px;
  font-size: 36px;
}

.header-job{
  font-size: 30px;
}

.header-place{
  font-size: 28px;
  margin-top: 20px;
}

.header-number{
  font-size: 20px;
}

.header-nav{
  background-color: #efefef;
}

.osteo-carousel{
  margin-bottom: 50px;
}

.purpose-title{
  margin-bottom: 50px;
  text-align: center;
}

.purpose-content{
  margin-bottom: 80px;
}

.contact-content{
  margin-bottom: 50px;
}

.contact-city-title{
  text-align: center;
}

.contact-city-address{
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}

.contact-city-access{
  margin-bottom: 20px;
}

.access-content{
  margin-bottom: 40px;
}

.contact-title{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-style: italic;
}

.vl {
  border-left: 1px solid #0014ff57;
}

#profile-section{
  margin-top: 20px;
  margin-bottom: 50px;
}

#rdv-section{
  margin-top: 40px;
  text-align: center;
}

.experience{
  margin-top: 50px;
}

.experience h2{
  text-align: center;
}

#partenaires-section a{
  text-decoration: none !important;
}

.partenaires{
  margin-top: 50px;
  margin-bottom: 50px;
}

.box-margin{
  padding-top: 10px;
  padding-bottom: 10px;
	margin-bottom: 10px;
}

.box {
  border-radius: 5px;
	cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.01, 1.01);
}

.box:hover::after {
    opacity: 1;
}

.btn{
  padding: .25rem 3.5rem;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 3.2rem;
}

.btn a{
  padding-left: 20px;
  padding-right: 20px;
}

button.btn.tf-btn.btn-default {
	float: right;
	background: #0b98f1;
	border: 0;
	border-radius: 0;
	padding: 10px 40px;
	color: #ffffff;
	text-transform: uppercase;
}

.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: thin dotted;
	outline: none;
	outline-offset: none;
}

.site-footer{
  padding-top: 22px;
  padding-bottom: 20px;
  background-color: #efefef;
}

.site-footer p{
  color: black;
}

.site-footer a{
  color: black;
}

.site-footer iframe{
  width: 250px;
}

.site-footer h3 {
  color: black;
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .2em;
}
